[user]
	name = Jordan Justen
	signingkey = C27485217414C9DF02316C2E37F99F68CAF992EB
[core]
	excludesfile = /home/jljusten/.gitignore
[push]
	default = matching
[alias]
	svn-diff = !git-svn-diff.sh
	publish = !/home/jljusten/src/git-publish/git-publish
	edit-modified = !git-edit-modified
	logg = log --oneline --graph
	log1 = log --pretty='%C(auto)%h %G?%d %s'
	#riom = rebase -i origin/master
	tgz = archive --format=tar.gz
	txz = archive --format=tar.xz
	cshow = show --word-diff-regex=[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+
	test-sequence = !/home/jljusten/bin/git-test-sequence
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2' -
[log]
	decorate = short
[color]
	ui = true
[tar "tar.xz"]
	command = xz -c
[tar "tar.gz"]
	command = gzip -c
[diff]
	renames = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = .gitconfig.local
